h1 {
    color: black;
    background-color: azure;
    margin: 30px;
}

li {
    color: gray;
    padding-left: 30px;
}

td {
    padding: 30px;
}

table {
    margin-left: 100px;
    background-color: lightgoldenrodyellow;
}

